backend/.env
mobile/.env
backend/node_modules
mobile/node_modules
backend/dist
.expo
backend/backend-dev.log
mobile/.expo
mobile/android-build.log
mobile/expo-dev-client.log
mobile/expo-start.log
mobile/expo-web.log
mobile/metro-bundle-test.js
mobile/android/.gradle
mobile/android/app/.cxx
mobile/android/app/build
mobile/android/build
mobile/android/hs_err_pid*.log
mobile/android/replay_pid*.log
mobile/android/local.properties
*.log
